body{
  font-family: 'JetBrains Mono', monospace;
  background-color: #2F2E41;
  margin: 0;
}
.page{
  width: 1280px;
  margin: 71px auto 23px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 101px;
}

ul{
  list-style: none;
  display: flex;
  gap: 64px;
  margin: 0;
  padding: 0; 
}

ul, li, a{
  text-decoration: 0;
  color: #fff;
  font-size: 14px;
  font-weight: medium;
  line-height: 28px;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 101px auto 184px;
}

h1{
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  font-weight: 700;
}

h1 span{
  color:#00BFA6;
}

p{
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  

  margin-top: 59px;
}

p span{
  color:#00BFA6;
  font-weight: bold;
}

#line{
  width: 568.001px;
  height: 0;
  border: 1px solid;
  align-items: center;
  color: #00BFA6;
  margin: 157px 356px 27px;
}

footer{
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}

#padlock{
  position: fixed;
  width: 51px;
  height: 62px;
  top: 638px;
  flex-shrink: 0;
}